:root {
  --darkCyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --veryDarkBlue: hsl(212, 21%, 14%);
  --darkGrayishBlue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

@font-face {
  font-family: monserratBold;
  src: url("./public/fonts/Montserrat-Bold.woff");
}

@font-face {
  font-family: monserratMedium;
  src: url("./public/fonts/Montserrat-Medium.woff");
}

@font-face {
  font-family: frauncesBold;
  src: url("./public/fonts/Fraunces_9pt-Bold.woff");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--cream);
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: var(--white);
  height: 60rem;
  width: 93%;
  border-radius: 1rem;
}

.image {
  width: 100%;
}

.desc-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3.2rem 3.2rem;
  height: 100%;
}

.subtitle {
  color: var(--darkGrayishBlue);
  font-family: monserratMedium;
  font-weight: normal;
  letter-spacing: 0.4rem;
  font-size: 1.3rem;
}

.title {
  font-family: frauncesBold;
  color: var(--veryDarkBlue);
  font-size: 3.15rem;
  line-height: 1;
}

p {
  color: var(--darkGrayishBlue);
  font-family: monserratMedium;
  line-height: 1.6;
  font-size: 1.41rem;
}

.price-container {
  display: flex;
  align-items: center;
  gap: 1.7rem;
}

.ins-price {
  color: var(--darkCyan);
  text-decoration: none;
  font-family: frauncesBold;
  font-size: 3.15rem;
}

.del-price {
  color: var(--darkGrayishBlue);
  font-family: monserratMedium;
}

.add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.1rem;
  background-color: var(--darkCyan);
  color: var(--cream);
  border-style: none;
  border-radius: 1rem;
  margin: 0 auto;
  padding: 1.6rem 0;
  width: 100%;
  font-family: monserratBold;
}

.add-button:hover {
  cursor: pointer;
  background-color: var(--veryDarkBlue);
}

@media (min-width: 600px) {
  .container {
    flex-direction: row;
    height: 45rem;
    width: 60rem;
  }

  .desc-container {
    width: 50%;
  }

  .image-container {
    width: 50%;
  }
}
